Repository alauda/k8s-form-in-action: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint -p . -t stylish --fix

fix: test cases
  angular.json
  e2e/protractor.conf.js
  e2e/src/app.e2e-spec.ts
  e2e/src/app.po.ts
  e2e/tsconfig.e2e.json
  package.json
  projects/ng-resource-form-util/src/lib/resource-form.component.spec.ts
  projects/ng-resource-form-util/src/test.ts
  src/app/app.component.spec.ts
  src/karma.conf.js
  src/tsconfig.spec.json
  yarn.lock
Due: prettier --write, tslint -p . -t stylish --fix

feat: add Directive decorator, remove unnecessary constructors
  package.json
  projects/ng-resource-form-util/src/lib/base-resource-form-array.component.ts
  projects/ng-resource-form-util/src/lib/base-resource-form-group.component.ts
  projects/ng-resource-form-util/src/lib/base-resource-form.component.ts
  src/app/demo/container/component.ts
  src/app/demo/deployment/component.ts
  src/app/demo/key-value-form/component.ts
  src/app/demo/pod-spec/component.ts
  tsconfig.json
  yarn.lock
Due: prettier --write, tslint -p . -t stylish --fix

chore: release 2.1.0
  package.json
  projects/ng-resource-form-util/package.json
Due: prettier --write

chore: remove unnecessary Directive options object
  demo/3rdpartylicenses.txt
  demo/6.c2a46c29a5823bdfd923.js
  demo/6.df80492223c39d1c1563.js
  demo/index.html
  demo/runtime.7a0f2f0b429c62ace19d.js
  demo/runtime.f36f62adcd560340dba6.js
  package.json
  projects/ng-resource-form-util/package.json
  projects/ng-resource-form-util/src/lib/base-resource-form-array.component.ts
  projects/ng-resource-form-util/src/lib/base-resource-form-group.component.ts
  projects/ng-resource-form-util/src/lib/base-resource-form.component.ts
  yarn.lock
Due: prettier --write

fix: change form disabled state correctly
  package.json
  projects/ng-resource-form-util/karma.conf.js
  projects/ng-resource-form-util/package.json
  projects/ng-resource-form-util/src/lib/base-resource-form.component.ts
  projects/ng-resource-form-util/src/lib/resource-form.component.spec.ts
  projects/ng-resource-form-util/tsconfig.spec.json
Due: prettier --write

fix: change form disabled state correctly (#16)
  package.json
  projects/ng-resource-form-util/karma.conf.js
  projects/ng-resource-form-util/package.json
  projects/ng-resource-form-util/src/lib/base-resource-form.component.ts
  projects/ng-resource-form-util/src/lib/resource-form.component.spec.ts
  projects/ng-resource-form-util/tsconfig.spec.json
Due: prettier --write

chore: release
  demo/6.cbec633567fffb9144f9.js
  demo/6.df80492223c39d1c1563.js
  demo/index.html
  demo/runtime.7a0f2f0b429c62ace19d.js
  demo/runtime.ede1a9e31c90d188e411.js
Due: prettier --write

feat: improve compatibility with `strictTemplates`
  .gitignore
  demo/6.f2444dbe250bf6e21d89.js
  demo/index.html
  demo/runtime.d282534d9af6052b1c70.js
  demo/runtime.ede1a9e31c90d188e411.js
  package.json
  projects/ng-resource-form-util/src/lib/base-resource-form-array.component.ts
  projects/ng-resource-form-util/src/lib/base-resource-form-group.component.ts
  projects/ng-resource-form-util/src/lib/base-resource-form.component.ts
  src/app/demo/key-value-form/component.ts
Due: prettier --write, tslint -p . -t stylish --fix

chore: should use min monaco-yaml
  angular.json
Due: prettier --write

ci: build_dir docs
  .github/workflows/deploy.yml
Due: none

chore: should enter module to release
  package.json
Due: prettier --write

chore(release): 3.0.0
  projects/ng-resource-form-util/CHANGELOG.md
  projects/ng-resource-form-util/package.json
Due: prettier --write

chore: lint ignore CHANGELOG.md
  .eslintignore
Due: none

docs: add badges and homepage link
  .lintstagedrc
  README.md
  projects/ng-resource-form-util/package.json
Due: prettier --write

fix: use Object instead of object which accept other types like string
  projects/ng-resource-form-util/src/lib/base-resource-form-array.component.ts
  projects/ng-resource-form-util/src/lib/base-resource-form-group.component.ts
  projects/ng-resource-form-util/src/lib/base-resource-form.component.ts
  projects/ng-resource-form-util/src/lib/util.ts
Due: none

chore(release): 3.0.1
  projects/ng-resource-form-util/CHANGELOG.md
  projects/ng-resource-form-util/package.json
Due: prettier --write

chore: tiny improvements
  package.json
  src/app/demo/component.ts
  src/app/demo/form-section/component.ts
  src/app/demo/template.html
  yarn.lock
Due: prettier --write, tslint -p . -t stylish --fix

fix: flat symbols manually, fix key value form path
  src/app/demo/component.ts
  src/app/demo/form-section/component.ts
  src/app/demo/key-value-form/component.ts
Due: tslint -p . -t stylish --fix

fix: flat symbols manually, fix key value form path (#25)
  src/app/demo/component.ts
  src/app/demo/form-section/component.ts
  src/app/demo/key-value-form/component.ts
Due: tslint -p . -t stylish --fix

ci: not need to set base-href and deploy-url anymore
  .github/workflows/deploy.yml
  package.json
  yarn.lock
Due: prettier --write

refactor: improve UI experience
  src/app/demo/component.ts
  src/app/demo/form-section/component.ts
  src/app/demo/key-value-form/component.ts
  src/app/demo/pod-spec/component.ts
  src/app/demo/styles.scss
Due: prettier --write, tslint -p . -t stylish --fix

refactor: improve UI experience (#26)
  src/app/demo/component.ts
  src/app/demo/form-section/component.ts
  src/app/demo/key-value-form/component.ts
  src/app/demo/pod-spec/component.ts
  src/app/demo/styles.scss
Due: prettier --write, tslint -p . -t stylish --fix

chore: bump angular deps
  package.json
  yarn.lock
Due: prettier --write

ci: migrate to changesets and integrate with codesandbox ci
  .changeset/README.md
  .changeset/config.json
  .codesandbox/ci.json
  .github/workflows/deploy.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  angular.json
  package.json
  packages/ng-resource-form-util/.eslintrc
  packages/ng-resource-form-util/CHANGELOG.md
  packages/ng-resource-form-util/karma.conf.js
  packages/ng-resource-form-util/ng-package.json
  packages/ng-resource-form-util/package.json
  packages/ng-resource-form-util/src/base-resource-form-array.component.ts
  packages/ng-resource-form-util/src/base-resource-form-group.component.ts
  packages/ng-resource-form-util/src/base-resource-form.component.ts
  packages/ng-resource-form-util/src/public-api.ts
  packages/ng-resource-form-util/src/resource-form.component.spec.ts
  packages/ng-resource-form-util/src/test.ts
  packages/ng-resource-form-util/src/util.spec.ts
  packages/ng-resource-form-util/src/util.ts
  src/app/demo/deployment/component.ts
  tsconfig.json
  yarn.lock
Due: prettier --write, tslint -p . -t stylish --fix

docs: add changeset for the major change
  .changeset/wild-goats-raise.md
Due: prettier --write

ci: migrate to changesets and integrate with codesandbox ci (#28)
  .changeset/README.md
  .changeset/config.json
  .changeset/wild-goats-raise.md
  .codesandbox/ci.json
  .github/workflows/deploy.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  angular.json
  package.json
  packages/ng-resource-form-util/.eslintrc
  packages/ng-resource-form-util/CHANGELOG.md
  packages/ng-resource-form-util/karma.conf.js
  packages/ng-resource-form-util/ng-package.json
  packages/ng-resource-form-util/package.json
  packages/ng-resource-form-util/src/base-resource-form-array.component.ts
  packages/ng-resource-form-util/src/base-resource-form-group.component.ts
  packages/ng-resource-form-util/src/base-resource-form.component.ts
  packages/ng-resource-form-util/src/public-api.ts
  packages/ng-resource-form-util/src/resource-form.component.spec.ts
  packages/ng-resource-form-util/src/test.ts
  packages/ng-resource-form-util/src/util.spec.ts
  packages/ng-resource-form-util/src/util.ts
  src/app/demo/deployment/component.ts
  tsconfig.json
  yarn.lock
Due: prettier --write, tslint -p . -t stylish --fix

docs: correct latest badges and links
  README.md
Due: prettier --write

Update CHANGELOG.md
  packages/ng-resource-form-util/CHANGELOG.md
Due: prettier --write

docs: add a .nojekyll file
  docs/.nojekyll
Due: none

fix: incorrect publish content
  packages/ng-resource-form-util/package.json
Due: prettier --write

ci: use standard-version to tag automatically and publish manually
  .browserslistrc
  .commitlintrc
  .eslintignore
  .eslintrc
  .github/workflows/release.yml
  .prettierrc
  .renovaterc
  .stylelintrc
  package.json
  packages/ng-resource-form-util/.versionrc
  yarn.lock
Due: prettier --write

ci: fix release error on second build
  .github/workflows/release.yml
  scripts/release.sh
Due: none

Path conditions:
  prettier --write: any of: *.{js,jsx,json,css,sass,scss,html,md,yaml}
  tslint -p . -t stylish --fix: any of: src/**/*.ts
