Repository alauda/k8s-form-in-action: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint -p . -t stylish --fix

.lintstagedrc:

{
  "*.{js,jsx,json,css,sass,scss,html,md,yaml}": ["prettier --write"],
  "src/**/*.ts": ["tslint -p . -t stylish --fix"]
}

chore: use publishConfig.directory for changesets
  .github/workflows/release.yml
  package.json
  packages/ng-resource-form-util/ng-package.json
  packages/ng-resource-form-util/package.json
  packages/ng-resource-form-util/src/base-resource-form.component.ts
  scripts/release.sh
  yarn.lock
Due: prettier --write

docs: correct GitHub workflow status badge
  README.md
Due: prettier --write

fix: fix multiple group submitted
  packages/ng-resource-form-util/src/base-resource-form.component.ts
Due: none

Create ninety-starfishes-kick.md
  .changeset/ninety-starfishes-kick.md
Due: prettier --write

feat: expose destroy$ for reuse, bump deps
  .gitignore
  .stylelintignore
  angular.json
  docs/index.html
  package.json
  packages/ng-resource-form-util/.versionrc
  packages/ng-resource-form-util/ng-package.json
  packages/ng-resource-form-util/package.json
  packages/ng-resource-form-util/src/base-resource-form.component.ts
  packages/ng-resource-form-util/src/public-api.ts
  packages/ng-resource-form-util/src/resource-form.component.spec.ts
  packages/ng-resource-form-util/src/util.ts
  patches/monaco-yaml+4.0.0-alpha.1.patch
  src/app/demo/button.directive.ts
  src/app/demo/component.ts
  src/app/demo/container/component.ts
  src/app/demo/container/template.html
  src/app/demo/deployment/component.ts
  src/app/demo/deployment/template.html
  src/app/demo/form-section/component.ts
  src/app/demo/key-value-form/component.ts
  src/app/demo/key-value-form/template.html
  src/app/demo/pod-spec/component.ts
  src/app/demo/pod-spec/template.html
  src/app/demo/template.html
  src/app/monaco-provider.service.ts
  src/index.html
  tslint.json
  webpack.config.js
  yarn.lock
Due: prettier --write, tslint -p . -t stylish --fix

chore: upgrade ng-monaco-editor
  package.json
  yarn.lock
Due: prettier --write

Create nine-tomatoes-shout.md
  .changeset/nine-tomatoes-shout.md
Due: prettier --write

feat: expose destroy$ for reuse, bump deps (#44)
  .changeset/nine-tomatoes-shout.md
  .gitignore
  .stylelintignore
  angular.json
  docs/index.html
  package.json
  packages/ng-resource-form-util/.versionrc
  packages/ng-resource-form-util/ng-package.json
  packages/ng-resource-form-util/package.json
  packages/ng-resource-form-util/src/base-resource-form.component.ts
  packages/ng-resource-form-util/src/public-api.ts
  packages/ng-resource-form-util/src/resource-form.component.spec.ts
  packages/ng-resource-form-util/src/util.ts
  patches/monaco-yaml+4.0.0-alpha.1.patch
  src/app/demo/button.directive.ts
  src/app/demo/component.ts
  src/app/demo/container/component.ts
  src/app/demo/container/template.html
  src/app/demo/deployment/component.ts
  src/app/demo/deployment/template.html
  src/app/demo/form-section/component.ts
  src/app/demo/key-value-form/component.ts
  src/app/demo/key-value-form/template.html
  src/app/demo/pod-spec/component.ts
  src/app/demo/pod-spec/template.html
  src/app/demo/template.html
  src/app/monaco-provider.service.ts
  src/index.html
  tslint.json
  webpack.config.js
  yarn.lock
Due: prettier --write, tslint -p . -t stylish --fix

ci: update actions usage
  .github/workflows/release.yml
Due: none

feat: provide a way to get latest resource
  packages/ng-resource-form-util/src/base-resource-form.component.ts
Due: none

Create dull-keys-peel.md
  .changeset/dull-keys-peel.md
Due: prettier --write

ci: publish codesanbox from release directory
  .codesandbox/ci.json
Due: prettier --write

ci: update changesets/action usage
  .github/workflows/release.yml
Due: none

chore: rename to resourceModel to skip compatibility conflict
  packages/ng-resource-form-util/src/base-resource-form.component.ts
Due: none

fix: revert catch injector get error
  package.json
  packages/ng-resource-form-util/src/base-resource-form.component.ts
  patches/monaco-yaml+4.0.0-alpha.1.patch
  src/app/monaco-provider.service.ts
  yarn.lock
Due: prettier --write, tslint -p . -t stylish --fix

Create sour-lies-look.md
  .changeset/sour-lies-look.md
Due: prettier --write

feat: provide a way to get latest resource (#46)
  .changeset/dull-keys-peel.md
  .changeset/sour-lies-look.md
  .codesandbox/ci.json
  .github/workflows/release.yml
  package.json
  packages/ng-resource-form-util/src/base-resource-form.component.ts
  patches/monaco-yaml+4.0.0-alpha.1.patch
  src/app/monaco-provider.service.ts
  yarn.lock
Due: prettier --write, tslint -p . -t stylish --fix

fix: trigger submit if parent form has been submitted on init
  packages/ng-resource-form-util/src/base-resource-form.component.ts
Due: none

Create early-jokes-teach.md
  .changeset/early-jokes-teach.md
Due: prettier --write

fix: trigger submit if parent form has been submitted on init (#48)
  .changeset/early-jokes-teach.md
  packages/ng-resource-form-util/src/base-resource-form.component.ts
Due: prettier --write

fix: formModel is set undefined unexpectedly
  packages/ng-resource-form-util/src/base-resource-form.component.ts
Due: none

Create clever-oranges-hammer.md
  .changeset/clever-oranges-hammer.md
Due: prettier --write

fix: formModel is set undefined unexpectedly (#50)
  .changeset/clever-oranges-hammer.md
  packages/ng-resource-form-util/src/base-resource-form.component.ts
Due: prettier --write

fix: test valid
  src/app/demo/module.ts
  src/app/demo/template.html
  src/app/demo/valid/component.ts
  src/app/demo/valid/spec/component.ts
  src/app/demo/valid/spec/step/component.ts
  src/app/demo/valid/spec/step/template.html
  src/app/demo/valid/spec/template.html
  src/app/demo/valid/template.html
Due: prettier --write, tslint -p . -t stylish --fix

fix: use add(Async)Validators and remove(Async)Validators
  packages/ng-resource-form-util/src/base-resource-form.component.ts
Due: none

chore: control could be null
  src/app/demo/form-section/template.html
Due: prettier --write

Create chilly-candles-smash.md
  .changeset/chilly-candles-smash.md
Due: prettier --write

refactor: init validators on fields
  packages/ng-resource-form-util/src/base-resource-form.component.ts
Due: none

chore: bump deps, enable markuplint and remark-lint
  docs/contents.md
  package.json
  src/app/demo/component.ts
  src/app/demo/form-section/styles.scss
  yarn.lock
Due: prettier --write, tslint -p . -t stylish --fix

fix: use add(Async)Validators and remove(Async)Validators (#52)
  .changeset/chilly-candles-smash.md
  docs/contents.md
  package.json
  packages/ng-resource-form-util/src/base-resource-form.component.ts
  src/app/demo/component.ts
  src/app/demo/form-section/styles.scss
  yarn.lock
Due: prettier --write, tslint -p . -t stylish --fix

feat: add default impls for base component
  packages/ng-resource-form-util/src/base-resource-form-array.component.ts
  packages/ng-resource-form-util/src/base-resource-form-group.component.ts
  packages/ng-resource-form-util/src/base-resource-form.component.ts
  packages/ng-resource-form-util/src/resource-form.component.spec.ts
  packages/ng-resource-form-util/src/util.ts
  src/app/demo/container/component.ts
  src/app/demo/deployment/component.ts
  src/app/demo/key-value-form/component.ts
  src/app/demo/pod-spec/component.ts
Due: tslint -p . -t stylish --fix

refactor: use `has` to check whether path available
  packages/ng-resource-form-util/src/util.ts
Due: none

Create mighty-numbers-invite.md
  .changeset/mighty-numbers-invite.md
Due: prettier --write

Create lucky-flies-deny.md
  .changeset/lucky-flies-deny.md
Due: prettier --write

feat: add default impls for base component (#55)
  .changeset/lucky-flies-deny.md
  .changeset/mighty-numbers-invite.md
  packages/ng-resource-form-util/src/base-resource-form-array.component.ts
  packages/ng-resource-form-util/src/base-resource-form-group.component.ts
  packages/ng-resource-form-util/src/base-resource-form.component.ts
  packages/ng-resource-form-util/src/resource-form.component.spec.ts
  packages/ng-resource-form-util/src/util.ts
  src/app/demo/container/component.ts
  src/app/demo/deployment/component.ts
  src/app/demo/key-value-form/component.ts
  src/app/demo/pod-spec/component.ts
Due: prettier --write, tslint -p . -t stylish --fix

feat!: upgrade @angular/cli to v14
  package.json
  yarn.lock
Due: prettier --write

feat!: upgrade @angular/cli to v15
  package.json
  packages/ng-resource-form-util/src/test.ts
  yarn.lock
Due: prettier --write

feat!: upgrade @angular/cli to v16
  angular.json
  package.json
  yarn.lock
Due: prettier --write

feat!: bump angular versions
  .browserslistrc
  .github/workflows/release.yml
  .stylelintignore
  angular.json
  package.json
  packages/ng-resource-form-util/.eslintrc
  packages/ng-resource-form-util/karma.conf.js
  packages/ng-resource-form-util/package.json
  packages/ng-resource-form-util/src/base-resource-form-array.component.ts
  packages/ng-resource-form-util/src/base-resource-form.component.ts
  src/.eslintrc
  src/app/demo/component.ts
  src/app/demo/form-section/component.ts
  src/app/demo/key-value-form/component.ts
  src/app/demo/pod-spec/component.ts
  src/assets/deployment.yaml
  src/shim.d.ts
  src/tsconfig.app.json
  tsconfig.json
  webpack.config.mjs
  yarn.lock
Due: prettier --write, tslint -p . -t stylish --fix
