Repository alauda/k8s-form-in-action: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint -p . -t stylish --fix

.lintstagedrc:

{
  "*.{js,jsx,json,css,sass,scss,html,md,yaml}": ["prettier --write"],
  "src/**/*.ts": ["tslint -p . -t stylish --fix"]
}

Create fifty-buckets-juggle.md
  .changeset/fifty-buckets-juggle.md
Due: prettier --write

ci: use node 16 on codesandbox
  .codesandbox/ci.json
Due: prettier --write

feat!: bump angular versions (#65)
  .browserslistrc
  .changeset/fifty-buckets-juggle.md
  .codesandbox/ci.json
  .github/workflows/release.yml
  .stylelintignore
  angular.json
  package.json
  packages/ng-resource-form-util/.eslintrc
  packages/ng-resource-form-util/karma.conf.js
  packages/ng-resource-form-util/package.json
  packages/ng-resource-form-util/src/base-resource-form-array.component.ts
  packages/ng-resource-form-util/src/base-resource-form.component.ts
  packages/ng-resource-form-util/src/test.ts
  src/.eslintrc
  src/app/demo/component.ts
  src/app/demo/form-section/component.ts
  src/app/demo/key-value-form/component.ts
  src/app/demo/pod-spec/component.ts
  src/assets/deployment.yaml
  src/shim.d.ts
  src/tsconfig.app.json
  tsconfig.json
  webpack.config.mjs
  yarn.lock
Due: prettier --write, tslint -p . -t stylish --fix

fix: typings issue
  packages/ng-resource-form-util/src/base-resource-form-array.component.ts
Due: none

Create honest-points-turn.md
  .changeset/honest-points-turn.md
Due: prettier --write

fix: typings issue (#67)
  .changeset/honest-points-turn.md
  packages/ng-resource-form-util/src/base-resource-form-array.component.ts
Due: prettier --write

feat: support errorsInDetail mode
  packages/ng-resource-form-util/src/base-resource-form.component.ts
Due: none

Create fluffy-snails-rule.md
  .changeset/fluffy-snails-rule.md
Due: prettier --write

refactor: cleanup control errors
  packages/ng-resource-form-util/src/base-resource-form.component.ts
Due: none

chore: reuse controlErrors
  packages/ng-resource-form-util/src/base-resource-form.component.ts
Due: none

chore: simplify return type
  packages/ng-resource-form-util/src/base-resource-form.component.ts
Due: none

feat: export getControlErrors for reusing
  packages/ng-resource-form-util/src/base-resource-form.component.ts
  packages/ng-resource-form-util/src/util.ts
Due: none

feat: include control.errors themselves on FormArray and FormGroup
  packages/ng-resource-form-util/src/util.ts
Due: none

feat: support errorsInDetail mode (#74)
  .changeset/fluffy-snails-rule.md
  packages/ng-resource-form-util/src/base-resource-form.component.ts
  packages/ng-resource-form-util/src/util.ts
Due: prettier --write

chore: update to angular 21
  .browserslistrc
  .eslintcache
  .lintstagedrc.js
  .yarn/install-state.gz
  .yarnrc.yml
  angular.json
  package.json
  packages/ng-resource-form-util/package.json
  src/app/app.component.ts
  src/app/app.config.ts
  src/app/app.module.ts
  src/app/demo/button.directive.ts
  src/app/demo/component.ts
  src/app/demo/container/component.ts
  src/app/demo/deployment/component.ts
  src/app/demo/form-section/component.ts
  src/app/demo/key-value-form/component.ts
  src/app/demo/key-value-form/token.ts
  src/app/demo/module.ts
  src/app/demo/pod-spec/component.ts
  src/main.ts
  tsconfig.json
  yarn.lock
Due: prettier --write, tslint -p . -t stylish --fix

chore: add changeset
  .codesandbox/ci.json
  .github/workflows/release.yml
  packages/ng-resource-form-util/CHANGELOG.md
  packages/ng-resource-form-util/package.json
Due: prettier --write

Chore/update angular 21 (#77)
  .browserslistrc
  .codesandbox/ci.json
  .eslintcache
  .github/workflows/release.yml
  .lintstagedrc.js
  .yarn/install-state.gz
  .yarnrc.yml
  angular.json
  package.json
  packages/ng-resource-form-util/CHANGELOG.md
  packages/ng-resource-form-util/package.json
  src/app/app.component.ts
  src/app/app.config.ts
  src/app/app.module.ts
  src/app/demo/button.directive.ts
  src/app/demo/component.ts
  src/app/demo/container/component.ts
  src/app/demo/deployment/component.ts
  src/app/demo/form-section/component.ts
  src/app/demo/key-value-form/component.ts
  src/app/demo/key-value-form/token.ts
  src/app/demo/module.ts
  src/app/demo/pod-spec/component.ts
  src/main.ts
  tsconfig.json
  yarn.lock
Due: prettier --write, tslint -p . -t stylish --fix

chore: update configs
  .browserslistrc
  .gitignore
  .yarn/install-state.gz
  package.json
  yarn.lock
Due: prettier --write

chore: add changeset
  .changeset/dull-news-go.md
Due: prettier --write

chore: update configs
  .gitignore
  .yarn/install-state.gz
Due: none

Chore/update configs (#78)
  .browserslistrc
  .changeset/dull-news-go.md
  .gitignore
  .yarn/install-state.gz
  package.json
  yarn.lock
Due: prettier --write

chore: update configs
  .gitignore
Due: none

chore: update changeset
  .changeset/dull-news-go.md
  packages/ng-resource-form-util/CHANGELOG.md
  packages/ng-resource-form-util/package.json
Due: prettier --write

Chore/update configs (#79)
  .changeset/dull-news-go.md
  .gitignore
  packages/ng-resource-form-util/CHANGELOG.md
  packages/ng-resource-form-util/package.json
Due: prettier --write
